h1,
h2,
h3,
h4,
h5 {
  font-family: 'Italiana', serif;
  color: #fff;
  margin-bottom: 32px !important;
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-size: 40px !important;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 18px !important;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #433c51;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(39, 31, 46);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
